:root{
    --blue : #3A38FF;
    --navy : #101041;
    --darkgrey : #949293;
    --purple : #6261D8;
    --green : #316762;
    --grey : #DFE2E7;
    --purplesoft : #E5E4FF;
    --darkgrey2 : #E7EBED;
    --bluesoft : #F9FBFC;
    --white : #FFFFFF;
    --fwlight : 300;
    --fwregular : 400;
    --fwmedium : 500;
    --fwsemibold : 600;
    --fwbold : 700;
    --fwextrabold : 800;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bluesoft);
}

.big-header {
    font-weight: var(--fwextrabold);
    color: var(--navy);
    font-size: 48px;
    line-height: 60px;
    margin: 0;
}

.medium-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 28px;
    margin: 0;
}

.small-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 22px;
    margin: 0;
}

.primary-copy {
    font-weight: var(--fwregular);
    color: var(--darkgrey);
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

.features-wrapper:hover .big-feature-card:not(:hover){
    filter: blur(3px);
    transition: all 0.3s ease;
}

.features-wrapper:hover .small-feature-card:not(:hover){
    filter: blur(3px);
    transition: all 0.3s ease;
}

.features .features-wrapper h3{
    padding-top: 16px;
}

.features .features-wrapper .icon{
    float: left;
    width: 60px;
    height: 200px;
    margin-right: 18px;
}

.features .features-wrapper .icon img{
    width: 60px;
    height: 60px;
}

.features .features-wrapper .small-feature-card{
    padding: 30px;
    border-radius: 16px;
    background-color: var(--white);
    padding-bottom: 30px;
    cursor: pointer;
}

.features .features-wrapper .small-feature-card .icon{
    height: 100px;
}

.features .features-wrapper .big-feature-card{
    padding: 30px;
    border-radius: 16px;
    background-color: var(--white);
    padding-bottom: 60px;
    cursor: pointer;
}

.text-button{
    text-decoration: none;
    color: var(--blue);
}

.text-button:hover{
    text-decoration: underline;
    color: var(--navy);
}

.btn-primary {
    padding: 12px 20px 12px 20px;
    background: var(--blue);
    color: var(--white);
    font-weight: var(--fwsemibold);
    font-size: 16px;
    border-radius: 50px;
    border: 0;
}

.btn-primary:hover {
    background: var(--navy);
    color: var(--white) !important;
}

.btn-secondary {
    padding: 12px 20px 12px 20px;
    background: var(--grey);
    color: var(--navy);
    font-weight: var(--fwmedium);
    font-size: 16px;
    border-radius: 50px;
    border: 0;
}

.btn-secondary:hover {
    background: var(--navy);
    color: var(--white) !important;
}

.navbar-nav .nav-item a:hover {
    color: var(--blue);
    transition: all 0.3s ease;
    font-weight: var(--fwbold);
}

.navbar-nav .nav-item a {
    color: var(--navy);
    transition: all 0.3s ease;
}

.navbar-nav .nav-item {
    padding-right: 25px;
    padding-left: 25px;
    font-weight: var(--fwsemibold); 
}

.navbar{
    --bs-navbar-padding-y: 0;
}

.navbar-brand{
    font-weight: var(--fwbold);
    font-size: 28px;
    color: var(--navy);
}

.custom-navbar{
    padding: 30px;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    background: var(--white);
}

.small-copy{
    font-size: 14px;
    font-weight: var(--fwsemibold);
    color: var(--navy);
}

.badge{
    padding: 8px 16px 8px 16px;
    background: var(--purplesoft);
    border-radius: 50px;
    width: 300px;
}

.badge .icon{
    float: left;
    margin-right: 6px;
}

.badge .small-copy{
    padding-top: 4px;
    margin: 0;
}

.mt-70{
    margin-top: 70px;
}

.mr-10{
    margin-right: 10px;
}

.mr-30{
    margin-right: 30px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-16{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.card-brand{
    height: 110px;
    width: 227px;
    background: var(--darkgrey2);
    border-radius: 16px;
    text-align: center;
}

.card-brand .logo{
    height: 50px;
    margin-top: 30px;
}

.carousel-warp{
    display: flex;
    height: 110px;
    animation: moveSlidesToLeft 25s linear infinite;
}

.carousel{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    height: 110px;
    overflow: hidden;
}

@keyframes moveSlidesToLeft{
    0%{
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.carousel-warp-left{
    display: flex;
    height: 110px;
    animation: moveSlidesToRight 25s linear infinite;
}

.carousel-left{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    height: 110px;
    overflow: hidden;
}

@keyframes moveSlidesToRight{
    0%{
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.form-control{
    background-color: var(--white);
    border-radius: 50px;
    border: 0;
    padding: 12px 20px 12px 20px;
}

.form-select{
    background-color: var(--white);
    border-radius: 50px;
    border: 0;
    padding: 12px 20px 12px 20px;
}

textarea.form-control{
    border-radius: 16px;
}

@media only screen and (max-width: 768px) {

    body {
        padding: 10px;
        margin: 0 auto;
    }
    
    .container {
        width: 100%; 
        padding: 0 10px; 
    }

    .navbar-nav{
        padding: auto;
    }

    .big-header{
        font-size: 32px;
    }

    .small-header{
        font-size: 13px;
    }

    .primary-copy{
        font-size: 12px;
        text-align: start;
        margin: 0 auto;
    }

    .btn-primary, .btn-secondary{
        padding: 8px 16px 8px 16px;
        font-size: 13px;
    }

    .badge{
        margin: 0 auto;
    }

    .vwall{
        text-align: center !important;
    }

    .keyft{
        text-align: center;
    }

    .features .features-wrapper .icon{
        float: left;
        width: 30px;
        height: 100px;
        margin-right: 0 auto;
    }

    .features .features-wrapper .icon img{
        width: 30px;
        height: 30px;
    }

    .features .features-wrapper .small-feature-card{
        padding: 30px;
        border-radius: 10px;
        background-color: var(--white);
        padding-bottom: 20px;
        cursor: pointer;
    }

    .features .features-wrapper h3{
        padding-top: 8px;
    }
}